//positioning


.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide, .hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.relative { position: relative }
.absolute { position: absolute }
.fixed, .affix { position: fixed }

.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }

.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.border-box { box-sizing: border-box }

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }

.hide-full {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

//width
@for $i from (1) through 10 {
  .w-#{$i} {
    width: percentage($i/10);
  }
}

//shapes
.border-none { border: 0 }

.rounded { border-radius: 3px }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: 3px 3px 0 0 }
.rounded-right  { border-radius: 0 3px 3px 0 }
.rounded-bottom { border-radius: 0 0 3px 3px }
.rounded-left   { border-radius: 3px 0 0 3px }

.not-rounded { border-radius: 0 }

.muted { opacity: .5 }

//margin, padding
@for $i from (0) through 20 {
  .p-#{$i} {
    padding: ($i * 10px);
  }
  .pl-#{$i} {
    padding-left: ($i * 10px);
  }
  .pr-#{$i} {
    padding-right: ($i * 10px);
  }
  .pt-#{$i} {
    padding-top: ($i * 10px);
  }
  .pb-#{$i} {
    padding-bottom: ($i * 10px);
  }
  .m-#{$i} {
    margin: ($i * 10px);
  }
  .ml-#{$i} {
    margin-left: ($i * 10px);
  }
  .mr-#{$i} {
    margin-right: ($i * 10px);
  }
  .mt-#{$i} {
    margin-top: ($i * 10px);
  }
  .mb-#{$i} {
    margin-bottom: ($i * 10px);
  }
}

.mx-center {
  margin-left: auto;
  margin-right: auto;
}

//typography
.bold    { font-weight: bold }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

//alignment
.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

//format text
.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//list
.list-reset {
  list-style: none;
  padding-left: 0;
}